USE [master]
GO
/****** Object:  Database [AssignmentPRJ_SU2024]    Script Date: 7/18/2024 8:56:12 PM ******/
CREATE DATABASE [AssignmentPRJ_SU2024]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssignmentPRJ_SU2024', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\AssignmentPRJ_SU2024.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AssignmentPRJ_SU2024_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\AssignmentPRJ_SU2024_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssignmentPRJ_SU2024].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssignmentPRJ_SU2024]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ACCOUNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[STAFF_ID] [int] NULL,
	[USER_NAME] [nvarchar](255) NOT NULL,
	[PASS_WORD] [nvarchar](255) NOT NULL,
	[OLD_PASS_1] [nvarchar](255) NULL,
	[OLD_PASS_2] [nvarchar](255) NULL,
	[OLD_PASS_3] [nvarchar](255) NULL,
	[OLD_PASS_4] [nvarchar](255) NULL,
	[LAST_PASS_CHANGE] [datetime] NULL,
	[TIME_LOGIN] [datetime] NULL,
	[FLAG] [bit] NULL,
	[BAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPARTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_NAME] [nvarchar](255) NOT NULL,
	[DEPARTMENT_LOCATION] [nvarchar](255) NULL,
	[DEPARTMENT_PHONE_NUMBER] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LABOR_CONTRACT]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LABOR_CONTRACT](
	[LABOR_CONTRACT_ID] [int] NOT NULL,
	[LABOR_CONTRACT_NAME] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LABOR_CONTRACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAIL]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAIL](
	[MAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NULL,
	[TIME] [time](7) NULL,
	[IMAGE_URL] [varchar](max) NULL,
	[TITLE] [varchar](255) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[REP_MAIL_ID] [int] NULL,
	[STATUS] [int] NULL,
	[MAIL_TYPE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAIL_TYPE]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAIL_TYPE](
	[MAIL_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAIL_TYPE_NAME] [varchar](255) NULL,
	[MAIL_TYPE_DESCRIPTION] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAIL_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSITION]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITION](
	[POSITION_ID] [int] IDENTITY(1,1) NOT NULL,
	[POSITION_NAME] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[POSITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARY_LEVEL]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY_LEVEL](
	[SALARY_LEVEL_ID] [int] NOT NULL,
	[SALARY_LEVEL_NAME] [nvarchar](100) NOT NULL,
	[SALARY_COEFFICIENT] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SALARY_LEVEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[STAFF_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](255) NULL,
	[LAST_NAME] [nvarchar](255) NULL,
	[GENDER] [bit] NULL,
	[HOME_TOWN] [nvarchar](255) NULL,
	[BIRTH_DATE] [date] NULL,
	[PHONE_NUMBER] [nvarchar](20) NULL,
	[SALARY_LEVEL_ID] [int] NULL,
	[DEPARTMENT_ID] [int] NULL,
	[IMAGE_URL] [varchar](max) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[OTP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_LABOR_CONTRACT]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_LABOR_CONTRACT](
	[STAFF_ID] [int] NULL,
	[LABOR_CONTRACT_ID] [int] NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_MAIL]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_MAIL](
	[STAFF_MAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAIL_ID] [int] NULL,
	[FROM_STAFF_ID] [int] NULL,
	[TO_STAFF_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFF_MAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_POSITION]    Script Date: 7/18/2024 8:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_POSITION](
	[STAFF_ID] [int] NOT NULL,
	[POSITION_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC,
	[POSITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ACCOUNT_ID], [STAFF_ID], [USER_NAME], [PASS_WORD], [OLD_PASS_1], [OLD_PASS_2], [OLD_PASS_3], [OLD_PASS_4], [LAST_PASS_CHANGE], [TIME_LOGIN], [FLAG], [BAN]) VALUES (1, 1, N'HAINC13', N'123456', NULL, NULL, NULL, NULL, CAST(N'2024-06-08T14:33:48.797' AS DateTime), CAST(N'2024-06-08T14:33:48.797' AS DateTime), 0, 0)
INSERT [dbo].[ACCOUNT] ([ACCOUNT_ID], [STAFF_ID], [USER_NAME], [PASS_WORD], [OLD_PASS_1], [OLD_PASS_2], [OLD_PASS_3], [OLD_PASS_4], [LAST_PASS_CHANGE], [TIME_LOGIN], [FLAG], [BAN]) VALUES (2, 2, N'MINHNQ90', N'123456', NULL, NULL, NULL, NULL, CAST(N'2024-06-08T14:34:19.780' AS DateTime), CAST(N'2024-06-08T14:34:19.780' AS DateTime), 0, 0)
INSERT [dbo].[ACCOUNT] ([ACCOUNT_ID], [STAFF_ID], [USER_NAME], [PASS_WORD], [OLD_PASS_1], [OLD_PASS_2], [OLD_PASS_3], [OLD_PASS_4], [LAST_PASS_CHANGE], [TIME_LOGIN], [FLAG], [BAN]) VALUES (3, 3, N'MinhNQ91', N'123', NULL, NULL, NULL, NULL, NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [DEPARTMENT_LOCATION], [DEPARTMENT_PHONE_NUMBER]) VALUES (1, N'Chiyoda', N'Tokyo', N'0101234567')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [DEPARTMENT_LOCATION], [DEPARTMENT_PHONE_NUMBER]) VALUES (2, N'Chuo', N'Tokyo', N'0101234568')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [DEPARTMENT_LOCATION], [DEPARTMENT_PHONE_NUMBER]) VALUES (3, N'Minato', N'Tokyo', N'0101234569')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[MAIL] ON 

INSERT [dbo].[MAIL] ([MAIL_ID], [DATE], [TIME], [IMAGE_URL], [TITLE], [DESCRIPTION], [REP_MAIL_ID], [STATUS], [MAIL_TYPE_ID]) VALUES (1, CAST(N'2024-08-08' AS Date), CAST(N'11:00:00' AS Time), NULL, N'Welcome', N'Welcome to FPT', NULL, 1, 4)
INSERT [dbo].[MAIL] ([MAIL_ID], [DATE], [TIME], [IMAGE_URL], [TITLE], [DESCRIPTION], [REP_MAIL_ID], [STATUS], [MAIL_TYPE_ID]) VALUES (2, CAST(N'2024-06-06' AS Date), CAST(N'12:00:00' AS Time), NULL, N'Your Task', N'Check your work please', NULL, 1, 3)
INSERT [dbo].[MAIL] ([MAIL_ID], [DATE], [TIME], [IMAGE_URL], [TITLE], [DESCRIPTION], [REP_MAIL_ID], [STATUS], [MAIL_TYPE_ID]) VALUES (3, CAST(N'2024-06-24' AS Date), CAST(N'01:14:55.7135561' AS Time), N'', N'Hello', N'Hello new Staff', NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[MAIL] OFF
GO
SET IDENTITY_INSERT [dbo].[MAIL_TYPE] ON 

INSERT [dbo].[MAIL_TYPE] ([MAIL_TYPE_ID], [MAIL_TYPE_NAME], [MAIL_TYPE_DESCRIPTION]) VALUES (1, N'INFORMATION', N'Information type mail')
INSERT [dbo].[MAIL_TYPE] ([MAIL_TYPE_ID], [MAIL_TYPE_NAME], [MAIL_TYPE_DESCRIPTION]) VALUES (2, N'ALERT', N'Alert type mail')
INSERT [dbo].[MAIL_TYPE] ([MAIL_TYPE_ID], [MAIL_TYPE_NAME], [MAIL_TYPE_DESCRIPTION]) VALUES (3, N'DANGER', N'Danger type mail')
SET IDENTITY_INSERT [dbo].[MAIL_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[POSITION] ON 

INSERT [dbo].[POSITION] ([POSITION_ID], [POSITION_NAME]) VALUES (1, N'Intern')
INSERT [dbo].[POSITION] ([POSITION_ID], [POSITION_NAME]) VALUES (2, N'Junior Developer')
INSERT [dbo].[POSITION] ([POSITION_ID], [POSITION_NAME]) VALUES (3, N'Developer')
SET IDENTITY_INSERT [dbo].[POSITION] OFF
GO
INSERT [dbo].[SALARY_LEVEL] ([SALARY_LEVEL_ID], [SALARY_LEVEL_NAME], [SALARY_COEFFICIENT]) VALUES (1, N'Intern', 1)
INSERT [dbo].[SALARY_LEVEL] ([SALARY_LEVEL_ID], [SALARY_LEVEL_NAME], [SALARY_COEFFICIENT]) VALUES (2, N'Junior Developer', 1.5)
INSERT [dbo].[SALARY_LEVEL] ([SALARY_LEVEL_ID], [SALARY_LEVEL_NAME], [SALARY_COEFFICIENT]) VALUES (3, N'Developer', 2)
GO
SET IDENTITY_INSERT [dbo].[STAFF] ON 

INSERT [dbo].[STAFF] ([STAFF_ID], [FIRST_NAME], [LAST_NAME], [GENDER], [HOME_TOWN], [BIRTH_DATE], [PHONE_NUMBER], [SALARY_LEVEL_ID], [DEPARTMENT_ID], [IMAGE_URL], [EMAIL], [OTP]) VALUES (1, N'Nguyen Cong', N'Hai', 1, N'HANOI', CAST(N'2003-06-06' AS Date), N'0912345644', 1, 1, NULL, N'hai@fpt.com', NULL)
INSERT [dbo].[STAFF] ([STAFF_ID], [FIRST_NAME], [LAST_NAME], [GENDER], [HOME_TOWN], [BIRTH_DATE], [PHONE_NUMBER], [SALARY_LEVEL_ID], [DEPARTMENT_ID], [IMAGE_URL], [EMAIL], [OTP]) VALUES (2, N'Nguyen Quang', N'Ling', 1, N'HANAM', CAST(N'2003-06-06' AS Date), N'0943827483', 1, 1, NULL, N'linh@fpt.com', NULL)
INSERT [dbo].[STAFF] ([STAFF_ID], [FIRST_NAME], [LAST_NAME], [GENDER], [HOME_TOWN], [BIRTH_DATE], [PHONE_NUMBER], [SALARY_LEVEL_ID], [DEPARTMENT_ID], [IMAGE_URL], [EMAIL], [OTP]) VALUES (3, N'Nguyen Quang', N'Minhh', 1, N'NewYork', CAST(N'2003-06-06' AS Date), N'1234567890', 1, 1, NULL, N'minh@fpt', NULL)
SET IDENTITY_INSERT [dbo].[STAFF] OFF
GO
SET IDENTITY_INSERT [dbo].[STAFF_MAIL] ON 

INSERT [dbo].[STAFF_MAIL] ([STAFF_MAIL_ID], [MAIL_ID], [FROM_STAFF_ID], [TO_STAFF_ID]) VALUES (1, 1, 1, 2)
INSERT [dbo].[STAFF_MAIL] ([STAFF_MAIL_ID], [MAIL_ID], [FROM_STAFF_ID], [TO_STAFF_ID]) VALUES (2, 2, 2, 1)
INSERT [dbo].[STAFF_MAIL] ([STAFF_MAIL_ID], [MAIL_ID], [FROM_STAFF_ID], [TO_STAFF_ID]) VALUES (3, 3, 1, 2)
SET IDENTITY_INSERT [dbo].[STAFF_MAIL] OFF
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (getdate()) FOR [LAST_PASS_CHANGE]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (getdate()) FOR [TIME_LOGIN]
GO
ALTER TABLE [dbo].[STAFF_LABOR_CONTRACT] ADD  DEFAULT (getdate()) FOR [START_DATE]
GO
ALTER TABLE [dbo].[STAFF_LABOR_CONTRACT] ADD  DEFAULT (getdate()) FOR [END_DATE]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([STAFF_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_STAFF]
GO
ALTER TABLE [dbo].[MAIL]  WITH CHECK ADD  CONSTRAINT [FK_MAIL_MAIL_TYPE] FOREIGN KEY([MAIL_TYPE_ID])
REFERENCES [dbo].[MAIL_TYPE] ([MAIL_TYPE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MAIL] CHECK CONSTRAINT [FK_MAIL_MAIL_TYPE]
GO
ALTER TABLE [dbo].[MAIL]  WITH CHECK ADD  CONSTRAINT [FK_MAIL_REP_MAIL] FOREIGN KEY([REP_MAIL_ID])
REFERENCES [dbo].[MAIL] ([MAIL_ID])
GO
ALTER TABLE [dbo].[MAIL] CHECK CONSTRAINT [FK_MAIL_REP_MAIL]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_DEPARTMENT] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPARTMENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_DEPARTMENT]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_SALARY_LEVEL] FOREIGN KEY([SALARY_LEVEL_ID])
REFERENCES [dbo].[SALARY_LEVEL] ([SALARY_LEVEL_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_SALARY_LEVEL]
GO
ALTER TABLE [dbo].[STAFF_LABOR_CONTRACT]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_LABOR_CONTRACT_1] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([STAFF_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF_LABOR_CONTRACT] CHECK CONSTRAINT [FK_STAFF_LABOR_CONTRACT_1]
GO
ALTER TABLE [dbo].[STAFF_LABOR_CONTRACT]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_LABOR_CONTRACT_2] FOREIGN KEY([LABOR_CONTRACT_ID])
REFERENCES [dbo].[LABOR_CONTRACT] ([LABOR_CONTRACT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF_LABOR_CONTRACT] CHECK CONSTRAINT [FK_STAFF_LABOR_CONTRACT_2]
GO
ALTER TABLE [dbo].[STAFF_MAIL]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_MAIL_FROM_STAFF_ID] FOREIGN KEY([FROM_STAFF_ID])
REFERENCES [dbo].[STAFF] ([STAFF_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF_MAIL] CHECK CONSTRAINT [FK_STAFF_MAIL_FROM_STAFF_ID]
GO
ALTER TABLE [dbo].[STAFF_MAIL]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_MAIL_MAIL_ID] FOREIGN KEY([MAIL_ID])
REFERENCES [dbo].[MAIL] ([MAIL_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF_MAIL] CHECK CONSTRAINT [FK_STAFF_MAIL_MAIL_ID]
GO
ALTER TABLE [dbo].[STAFF_MAIL]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_MAIL_TO_STAFF_ID] FOREIGN KEY([TO_STAFF_ID])
REFERENCES [dbo].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [dbo].[STAFF_MAIL] CHECK CONSTRAINT [FK_STAFF_MAIL_TO_STAFF_ID]
GO
ALTER TABLE [dbo].[STAFF_POSITION]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_POSITION_1] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([STAFF_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF_POSITION] CHECK CONSTRAINT [FK_STAFF_POSITION_1]
GO
ALTER TABLE [dbo].[STAFF_POSITION]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_POSITION_2] FOREIGN KEY([POSITION_ID])
REFERENCES [dbo].[POSITION] ([POSITION_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF_POSITION] CHECK CONSTRAINT [FK_STAFF_POSITION_2]
GO
USE [master]
GO
