/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 23, 2024, 1:33:24 PM
    Author     : Admin
*/
body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

.no-padding-margin {
    margin: 0px;
    padding: 0px;
}

.body-content-left div a {
    color: black;
    text-decoration: none;
}

.side-bar {
    background-color: rgba(0,0,0,0.1);
    height: 100vh;
    display: flex;
}

.header {
    padding: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slidebar-content {
    list-style-type: none;
}

.bottom {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.bottom-fixed {
    position: fixed;
    bottom: 0;
    padding: 10px;
}

.top-fixed {
    position: fixed;
    top: 0;
    padding: 10px;
}

.img-info img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.content a {
    color: black;
    text-decoration: none;
    margin-left: 5px;
    font-size: 20px;
}

/* Định dạng phần tiêu đề */
h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Định dạng thông báo lỗi */
h5 {
    font-size: 16px;
    margin-top: -10px;
}

/* Định dạng nhãn và ô nhập liệu */
.input-label {
    font-size: 16px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 10px;
}

/* Định dạng nút */
.btn {
    padding: 10px 20px;
    font-size: 16px;
}

/* Định dạng ô nhập liệu */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Định dạng các ô nhập liệu cạnh nhau */
.name-input-style {
    display: flex;
}

/* Định dạng các nút Reset và Add */
.form-group button {
    margin-right: 10px;
}

/* Định dạng các nút radio */
input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

.form-info {
    display: flex;
    margin-top: -15px;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-input {
    border: 2px solid #00000008; /* Thêm border cho input */
    background: transparent;
    font-size: 16px;
    padding: 8px 40px 6px 20px;
    outline: none;
    flex: 1;
    border-radius: 20px; /* Bo tròn cả input */
    width: 300px;
}

.search-button {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: 2px solid transparent; /* Thêm border cho button */
    padding: 8px;
    border-radius: 20px; /* Bo tròn cả button */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}

.search-icon {
    color: #555;
}

.search-input:focus {
    border-color: #007bff;
}


td button {
    width: 80px;
}

.btn {
    padding: 10px 15px;
}

.centered-button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 45%; /* căn giữa ngang */
    transition: background-color 0.3s; /* hiệu ứng chuyển đổi màu nền */
}

.centered-button:hover {
    background-color: #ffd700; /* màu vàng */
}




